//Created by cmm on 11/26/14.

doctype
html(ng-app="nourriture")
	head
		meta(charset='utf8')
		//Advanced Training Team 16
		meta(name="author" content="ATT16")
		meta(name="keywords" content="Advanced Training One Nourriture")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

		base(href='/index')
		title Candidates
		link(rel='stylesheet', href='css/bootstrap_chenmm1.css')
		link(rel='stylesheet', href='css/animate.css')
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='css/font-awesome/font-awesome.min.css' media="screen")
		link(href="img/favicon.png" rel="icon" type="image/png")

	body
		//# id; . class
		header
			.container
				.navbar
					.navbar-inner
						a.brand(href='/index')
							img(src="img/restart_logo.png" width="90" height="90" alt="Logo")
							span.logo_title
								strong Candidates
							span.logo_subtitle Candidate Service
						a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
							span.nb_left.pull-left
								span.icon-bar
								span.icon-bar
								span.icon-bar
							span.nb_right.pull-right menu
						.nav-collapse.collapse
							ul#menuTab.nav.pull-right
								li.active
									a(href="/index") Home

		block team

		#main
			footer
				section#copyright
					.container
						.row
							.span6 Copyright &copy; 2014-2015. Company name All rights reserved. Web Service Team XX
							.span6.text-right
								a(href='') Candidates